.list{
    list-style: none;
    display: flex;
}
.item{
    margin-right: 30px;
    padding: 5px 10px;
    font-size: 30px;


}
.link{
    text-decoration: none;
    color: black;

}
/* .link:hover{
    color:  tomato;
} */
.link.active{
    color: tomato;
}